<?xml version="1.0"?>
<config>
  <modules>
      <Sols_Invoicepdf>
          <version>0.0.1</version>
      </Sols_Invoicepdf>
  </modules>
  <global>
      <helpers>
          <invoicepdf>
              <class>Sols_Invoicepdf_Helper</class>
	      </invoicepdf>
	  </helpers>
      <resources>
          <invoicepdf_setup>
              <setup>
                  <module>Sols_Invoicepdf</module>
                  <class>Mage_Customer_Model_Entity_Setup</class>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </invoicepdf_setup>
      </resources>
      <models>
          <invoicepdf>
              <class>Sols_Invoicepdf_Model</class>
          </invoicepdf>
      </models>
      <events>
          <sales_order_invoice_pay>
              <observers>
                  <Sols_Invoicepdf_Model_Observer>
                      <type>Singleton</type>
                      <class>Sols_Invoicepdf_Model_Observer</class>
                      <method>sendPdfEmail</method>
                  </Sols_Invoicepdf_Model_Observer>
              </observers>
          </sales_order_invoice_pay>
      </events>
  </global>
</config>